.vs
x64
x86
lib
output
*_test.hlsl
build
HidModifierPrivate.cpp
.tmp/
.tools/
Release/
CustomHeadsetGUI/src/environment-gen.ts

tools
!tools/
tools/*
!tools/Build-GalaxyXR.ps1
!tools/Test-GalaxyXRResources.ps1
